{% extends 'base.html.twig' %}

{% block title %}Page Profil{% endblock %}

{% block body %}
    {% if not profile.id %}
		<h1>Remplissez votre profil</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Enregistrer</button>
		{{ form_end(form) }}
	{% else %}
	<div class="wrapper d-flex align-items-stretch row gx-0 pe-4">
			<nav id="sidebar" class="col-3">
				<div class="p-4">
					<ul class="list-unstyled components mb-5">
						<li class="active">
							<div class="card" id="profile-display">
								{{ component('ProfileDisplayComponent') }} 
							</div>
						</li>
					</ul>
				</div>
			</nav>
			 

			<!-- Page Content  -->

                
                <!-- ... le reste de votre code ... -->
			<div id="dynamicContent" class="p-4 p-md-5 mt-4 border col-9">
               {{ component('ProfileFormComponent') }}
			 
			</div>
		</div>
       
        
        
    {% endif %}
{% endblock %}