<turbo-stream action="replace" target="profile-display">
	<template>
		<div class="card" id="profile-display">
			<div class="card-header text-center p-5">

				<a href="{{ path('app_profile') }}" class="img logo rounded-circle mb-5">
					<img class="img-fluid"  src="{{ asset('images/avatars/' ~ profile.avatarName) }}" alt="Avatar de {{ profile.pseudo }}" style=" border: 2px solid #000; border-radius: 50%;"/>

				</a>
			</div>
			<div class="card-body">
				<div class="mb-3">
					<p>Blaze :
						{{ profile.pseudo }}</p>
				</div>
				<div class="mb-3">
					<p>Prénom :
						{{ profile.prenom }}</p>
				</div>
				<div class="mb-3">
					<p>Nom:
						{{ profile.nom }}</p>
				</div>
				<div class="mb-3">
					<p>Biographie:
						{{ profile.biographie}}</p>
				</div>
				<div class="mb-3">
					<p>Date d'inscription :
						{{ profile.createdAt|date('d-m-Y') }}</p>
				</div>
				<div class="mb-3">
					<p>Magical Level :
						{{ profile.magicalLevel }}</p>
				</div>


			</div>
		</div>
	</template>
</turbo-stream>
